.width-100 {
  width: 100%;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  background: honeydew;
}
h1,
h2,
h3 {
  font-family: 'PT Sans', sans-serif, bold;
  color: #30323D;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 2.4rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
  font-family: 'PT Sans', sans-serif;
  color: #30323D;
}
.background .carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 500px;
  position: relative;
  overflow: hidden;
  margin-top: 16px;
}
@media (max-width: 800px) {
  .background .carousel {
    width: 95%;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .background .carousel {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    height: 350px;
  }
}
.background .carousel .left-button,
.background .carousel .right-button {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: row;
  font-size: 40px;
  border-radius: 50%;
  border: 1px groove #FAFAFA;
  position: absolute;
  width: 40px;
  height: 40px;
  box-shadow: 0px 0px 10px black;
  transition: 0.15s;
  cursor: pointer;
}
.background .carousel .left-button:hover,
.background .carousel .right-button:hover {
  width: 43px;
  height: 43px;
}
.background .carousel .left-button {
  top: 50%;
  left: 25px;
  transform: translate(0, -50%);
}
.background .carousel .right-button {
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
}
.background .carousel img {
  width: 100%;
  display: none;
  box-shadow: 0px 0px 20px black;
}
.middle-content .features {
  display: flex;
  justify-content: space-evenly;
  align-items: none;
  flex-direction: row;
  padding: 0;
  border-bottom: 5px double #30323D;
  padding-top: 35px;
  padding-bottom: 20px;
}
.middle-content .features .feature {
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 30px, 0);
  opacity: 0;
}
.middle-content .features .feature-active {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
@media (max-width: 800px) {
  .middle-content .features {
    display: flex;
    justify-content: none;
    align-items: none;
    flex-direction: column;
    text-align: center;
    padding-bottom: 0;
  }
}
.middle-content .features .feature h2 {
  margin-top: 10px;
  margin-bottom: 5px;
}
.middle-content .features .feature p {
  width: 90%;
}
@media (max-width: 800px) {
  .middle-content .features .feature p {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 0;
  }
}
.button {
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  color: #FAFAFA;
  padding: 5px 0;
  width: 150px;
  border-radius: 5px;
  font-family: "PT Sans", sans-serif, bold;
  box-shadow: 0px 0px 20px black;
  transition: 0.15s;
  border: 1px groove #FAFAFA;
  background: #2e964f;
  text-shadow: 0px 0px 10px black;
}
.button:hover {
  background-color: #356799;
}
.background {
  height: 100vh;
  background-image: url("/img/background-wood.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.background .container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.background .container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 15px;
  margin-bottom: 30px;
}
.background .container .logo img {
  margin-right: 10px;
}
.background .container .logo h2 {
  color: #FAFAFA;
  padding: 0;
  text-shadow: 0px 0px 10px black;
}
@media (max-width: 600px) {
  .background .container .logo h2 {
    font-size: 2.5rem;
  }
}
.background .container .logo .logo-brand {
  margin-right: 0.3em;
}
.background .container .logo .logo-text {
  font-weight: 200;
}
.background .container .logo,
.background .container .cta {
  transition: all 0.75s ease-in-out;
  transform: translate3d(0px, -100px, 0);
  opacity: 0;
}
.background .container .carousel {
  transition: all 0.75s ease-in-out;
  transform: translate3d(0px, 100px, 0);
  opacity: 0;
}
.background .container .text-active {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.background .container .box-active {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.background .container .cta-text {
  margin-top: 0px;
  margin-bottom: 35px;
  color: #FAFAFA;
  font-size: 5rem;
  text-shadow: 0px 0px 20px black;
}
@media (max-width: 800px) {
  .background .container .cta-text {
    font-size: 4rem;
    margin-top: 10px;
  }
}
@media (max-width: 600px) {
  .background .container .cta-text {
    font-size: 3rem;
    width: 75%;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 40px;
  }
}
.background .container .cta-btns {
  width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: none;
  flex-direction: row;
}
.background .container .carousel img {
  border-radius: 10px;
}
.middle-content {
  width: 80%;
  margin: 0 auto;
}
.middle-content .about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-bottom: 5px double #30323D;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (max-width: 600px) {
  .middle-content .about {
    display: flex;
    justify-content: none;
    align-items: none;
    flex-direction: column;
    padding-top: 15px;
  }
}
.middle-content .about h2 {
  margin-bottom: 0;
  margin-top: 10px;
}
.middle-content .about .about-hours {
  text-align: center;
  width: 50%;
  background: #30323D;
  border: 1px groove #FAFAFA;
  border-radius: 5px;
  box-shadow: 0px 0px 3px black;
  padding: 0 10px;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 30px, 0);
  opacity: 0;
}
@media (max-width: 600px) {
  .middle-content .about .about-hours {
    width: 100%;
  }
}
.middle-content .about .about-hours h2 {
  color: honeydew;
}
.middle-content .about .about-hours p {
  color: honeydew;
  font-weight: 700;
}
.middle-content .about .about-us {
  text-align: center;
  width: 45%;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 30px, 0);
  opacity: 0;
}
@media (max-width: 600px) {
  .middle-content .about .about-us {
    width: 100%;
    padding-bottom: 15px;
  }
}
.middle-content .about .box-active {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (max-width: 600px) {
  footer {
    display: flex;
    justify-content: none;
    align-items: none;
    flex-direction: column;
  }
}
footer .button {
  box-shadow: 0px 0px 3px black;
  background: #30323D;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 30px, 0);
  opacity: 0;
}
footer .quote {
  text-align: center;
  width: 45%;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 30px, 0);
  opacity: 0;
}
@media (max-width: 800px) {
  footer .quote {
    width: 48%;
  }
}
@media (max-width: 600px) {
  footer .quote {
    width: 100%;
    margin-bottom: 10px;
  }
}
footer .quote h3 {
  margin-bottom: 0;
}
footer .quote p {
  margin-top: 5px;
}
footer .box-active {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.credits {
  margin-top: 10px;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: #30323D;
  box-shadow: 0px 0 3px black;
  border-top: 1px groove honeydew;
}
.credits p,
.credits a {
  font-size: 1.3rem;
  padding: 10px 10px;
  margin: 0;
  color: honeydew;
  transition: 0.15s;
  letter-spacing: 2px;
  text-align: center;
}
.credits p {
  padding-right: 20px;
}
.credits a:hover {
  color: lightskyblue;
}
