// General Styles
* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }

  body {
    margin: 0;
    background: honeydew
  }

  h1, h2, h3 {
    font-family: 'PT Sans', sans-serif, bold;
    color: @gunmetal;
  }

  h1 {
    font-size: 4rem;
  }
  
  h2 {
    font-size: 2.8rem;
  }
  
  h3 {
    font-size: 2.4rem;
  }
  
  p {
    font-size: 1.6rem;
    line-height: 1.4;
    font-family: 'PT Sans', sans-serif;
    color: @gunmetal;
  }
  
  .container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto; 
    text-align: center; 
    color: white;
  }
  
  