// IMPORTS
@import "variables.less";
@import "mixins.less";
@import "reset.less";
@import "global.less";
@import "../components/carousel/carousel.less";

// BUTTON
.button {
    text-decoration: none;
    font-size: 2.4rem;
    color: white;
    padding: 15px 30px;
    background: black;
    border-radius: 5px;
    font-family: 'PT Sans', sans-serif, bold;

    &:hover {
        background-color: honeydew;
        color: black;
    }
}

// STYLING
.logo {
    .flex(center,center);
    
    h2 {
        color: white;
    }

    img {
        margin-right: 20px;
    }
}

.background {
    background-image: url("background-wood.jpeg");
    background-size: 100%;

    .cta-text h1 {
        margin-top: 20px;
        color: white;
    }

    h2 {
        color:white;
    }

    .carousel img {
        border-radius: 10px;
    }
}

.about {
    .flex(space-between, baseline)
}

.features {
    .flex(space-evenly)
}

.quote, footer {
    text-align: center;
}
