// IMPORTS
@import "variables.less";
@import "mixins.less";
@import "reset.less";
@import "global.less";
@import "../components/carousel/carousel.less";

// BUTTON
.button {
    text-decoration: none;
    font-size: 2.4rem;
    color: white;
    padding: 15px 30px;
    background: @gunmetal;
    border-radius: 5px;
    font-family: 'PT Sans', sans-serif, bold;
    box-shadow: 0px 0px 15px black;

    &:hover {
        background-color: @spanishgray;
        transition-duration: 1s;
    }
}

// STYLING
.logo {
    .flex(center,center);
    padding-top: 15px;

    img {
        margin-right: 5px;
    }

    h2 {
        color: white;
        padding: 0;
    }
}

.background {
    background-image: url("background-wood.jpeg");
    background-size: 100%;

    .cta-text h1 {
        margin-top: 0px;
        margin-bottom: 0;
        color: white;
        font-size: 5rem;
    }

    .cta-text h2 {
        margin-top: 15px;
        padding-bottom: 20px;
        color:white;
    }

    .carousel img {
        border-radius: 10px;
    }
}

.middle-content {
    width: 80%;
    margin: 0 auto;

    .about {
        .flex(space-between, baseline);
        border-bottom: 5px double @gunmetal;
        padding-top: 15px;
        padding-bottom: 20px;

        h2 {
            text-align: center;
        }

        p {
            width: 80%;
        }
    }

    .features {
        .flex(space-evenly);
        padding-top: 50px;
        padding-bottom: 40px;
        border-bottom: 5px double @gunmetal;
    }
} 

.quote, footer {
    text-align: center;
}
