// IMPORTS
@import "variables.less";
@import "mixins.less";
@import "reset.less";
@import "global.less";
@import "../components/carousel/carousel.less";

// BUTTON
.button {
    text-decoration: none;
    font-size: 2.4rem;
    color: white;
    padding: 15px 30px;
    background: @gunmetal;
    border-radius: 5px;
    font-family: 'PT Sans', sans-serif, bold;
    box-shadow: 0px 0px 15px black;

    &:hover {
        background-color: honeydew;
        color: @gunmetal;
    }
}

// STYLING
.logo {
    .flex(center,center);
    padding-top: 15px;

    img {
        margin-right: 5px;
    }

    h2 {
        color: white;
        padding: 0;
    }
}

.background {
    background-image: url("background-wood.jpeg");
    background-size: 100%;

    .cta-text h1 {
        margin-top: 0px;
        margin-bottom: 0;
        color: white;
        font-size: 5rem;

        @media @tablet {
            font-size: 4rem;
            margin-top: 10px;
        }

        @media @phone {
            font-size: 3.5rem;
            width: 75%;
            margin: 0 auto;
            margin-top: 15px;
        }
    }

    .cta-text h2 {
        margin-top: 15px;
        padding-bottom: 20px;
        color:white;
        font-weight: 500;

        @media @phone {
            font-size: 2rem;
        }
    }

    .carousel img {
        border-radius: 10px;
    }
}

.middle-content {
    width: 80%;
    margin: 0 auto;

    .about {
        .flex(space-between, center);
        border-bottom: 5px double @gunmetal;
        padding-top: 10px;
        padding-bottom: 15px;

        .about-hours {
            width: 50%;
            background: white;
            border: 1px solid @gunmetal;
            border-radius: 5px;
        }

        .about-us {
            width: 40%;
        }
    }

    .features {
        .flex(space-evenly);
        padding-top: 50px;
        padding-bottom: 25px;
        border-bottom: 5px double @gunmetal;

        @media @tablet {
            .flex(@dir:column);
            text-align: center;
            padding-bottom: 0;
        }

        .feature h2 {
            @media @tablet {
                margin-top: 5px;
                margin-bottom: 10px;
            }
        }

        .feature p {
            width: 90%;

            @media @tablet {
                width:100%;
                text-align: center;
                margin-bottom: 40px;
                margin-top: 0;
            }
        }
    }
} 

footer {
    .flex(space-evenly, center);
    padding-top: 20px;
    padding-bottom: 20px;

    @media @phone {
        .flex(@dir: column)
    }

    .quote {
        text-align: center;

        @media @tablet {
            width: 48%;
        }

        @media @phone {
            width: 100%;
            margin-bottom: 10px;
        }
        
        h3 {
            margin-bottom: 0;
        }
        p {
            margin-top: 5px;
        }
    }
}