.middle-content {
    .features {
        .flex(space-evenly);
        padding: 0;
        border-bottom: 5px double @gunmetal;

        @media @tablet {
            .flex(@dir:column);
            text-align: center;
            padding-bottom: 0;
        }

        .feature h2 {
                margin-top: 10px;
                margin-bottom: 5px;
        }

        .feature p {
            width: 90%;

            @media @tablet {
                width:100%;
                text-align: center;
                margin-bottom: 40px;
                margin-top: 0;
            }
        }
    }
}